[submodule "src/external/blizzard-database-library"]
	path = src/external/blizzard-database-library
	url = https://gitlab.com/T1ti/blizzard-database-library.git
	branch = t1ti_fixes
[submodule "src/external/blizzard-archive-library"]
	path = src/external/blizzard-archive-library
	url = https://gitlab.com/T1ti/blizzard-archive-library.git
[submodule "cmake"]
	path = cmake
	url = https://gitlab.com/prophecy-rp/build-dependencies.git
	branch = dep-cmake
[submodule "dist/listfile"]
	path = dist/listfile
	url = https://gitlab.com/prophecy-rp/build-dependencies.git
	branch = dist-listfile
[submodule "dist/definitions"]
	path = dist/definitions
	url = https://gitlab.com/prophecy-rp/build-dependencies.git
	branch = dist-definitions
[submodule "dist/themes"]
	path = dist/themes
	url = https://gitlab.com/prophecy-rp/build-dependencies.git
	branch = dist-themes
