[submodule "src/external/blizzard-database-library"]
	path = src/external/blizzard-database-library
	url = https://gitlab.com/prophecy-rp/blizzard-database-library.git
[submodule "src/external/blizzard-archive-library"]
	path = src/external/blizzard-archive-library
	url = https://gitlab.com/prophecy-rp/blizzard-archive-library.git
